body {
    margin: 0;
    padding: 0;
    background: rgb(95%, 95%, 80%);
    color: black;
}

table, th, td {
    border: 1px solid rgb(85%,85%,70%);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    background: beige;
    font-size: smaller;
    table-layout: fixed;
    /* margin-left: 2.5%; */
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    font: 100% mono;
}

th {
    background: rgb(90%,90%,75%);
}

.number {
    text-align: right;
}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.th_tiny {
    width: 10%;
}

.th_small {
    width: 12%;
}

.th_medium {
    width: 20%;
}

.th_large {
    width: 40%;
}

.th_small {
    width: 12%;
}

ul {
    font-size: 0.7em;
}

li {
}

/*
 * Analysis Header details. 
 * Feel free to modify these to suit your style requirements.
 */
#TraceFile {
    font-weight: bold;
}

#SystemName {
}

#ServerName {
}

#OracleHome {
}

#InstanceName {
    font-weight: bold;
}

#AnalysisResult {
}

#DeadlockWait {
    font-weight: bold;
}

#DeadlockSignature {
}

#DeadlockCause {
    color: red;
    font-weight: bold;
}

#WaitStack {
}

/*
 * If the analysis found deadlocks, change the highlighting.
 */
.nonZero {
    color: red;
    font-weight: bold;
}

/*
 * Footer Stuff
 */
.footer {
    text-align: center;
    font-size: x-small;
}

.url {
    color: blue;
    font: mono;
}

/* Sidebar stuff - stays still when scrolling */
div {
    display: block;
}

div#entry {
    padding-left: 15%;
}

div#sidebar {
    position: fixed;
    top: 8;
    left: 4;
    width: 10%;
    margin: 0 0 0 2;
    text-align: center;
    border-bottom: 1px solid rgb(95%,95%,80%);
}

#sidebar h4 {
    border: 1px solid rgb(73%,73%,58%);
    border-bottom: none;
    background: rgb(90%,90%,75%);
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0 0 2em;
    border: 1px solid rgb(73%,73%,58%);
    background: beige;
}

#sidebar h4, #sidebar ul {
    margin: 0 6px 0 0;
}

#sidebar li {
    padding: 0.5em 0;
    line-height: 1em;
    border-bottom: 1px solid rgb(84%,84%,69%);
}

#sidebar a {
    text-decoration: none;
    padding: 0 0.25em;
    border: 1px solid rgb(84%,84%,69%);
    background: rgb(95%,95%,80%);
    position: relative; top: 1em;
}

#sidebar a:link {
   color: rgb(20%,40%,0%);
}

#sidebar a:visited {
   color: rgb(58%,68%,40%);
}

#sidebar a:hover {
   color: rgb(10%,20%,0%);
   background: #FFF;
}


